{% if include.placement == "right" %}
  {% assign pull = "pull-right" %}
{% else %}
  {% assign pull = "" %}
{% endif %}

{% if include.border == true %}
  {% assign img_border = "img-border" %}
{% else %}
  {% assign img_border = "" %}
{% endif %}

{% assign w = include.width | to_integer %}
{% if w <= 12 %}
  {% assign colwidth = "col-md-" | append: w %}
{% else %}
  {% if w < 40 %}
    {% assign colwidth = "col-md-4" %}
  {% elsif w < 65 %}
    {% assign colwidth = "col-md-6" %}
  {% else %}
    {% assign colwidth = "col-md-12" %}
  {% endif %}
{% endif %}

<div class="item {{ colwidth }} {{ pull }} px-4">
  <div class="card">
    <figure>
      {% if include.link %}
        <a href="{{ include.link | relative_url }}" class="header">
      {% endif %}

      {% assign img_path = include.image %}
      {% assign alt = include.alt | default: 'no description' %}
      {% assign cap = include.cap %}
      {% assign loading = include.loading | default: 'lazy' %}

      {% if img_path contains '.webp' %}
        {% picture {{ img_path }} alt="{{ alt }}" class="featured-img mx-auto {{ img_border }}" loading="{{ loading }}" %}
      {% else %}
        <img class="featured-img mx-auto {{ img_border }}"
             src="{{ '/assets/img/' | append: img_path | relative_url }}"
             alt="{{ alt }}"
             loading="{{ loading }}" />
      {% endif %}

      {% if include.link %}
        </a>
      {% endif %}

      {% if cap %}
        <div class="content">
          <figcaption class="images-caption">
            {{ cap | markdownify | remove: '<p>' | remove: '</p>' }}
          </figcaption>
        </div>
      {% endif %}
    </figure>
  </div>
</div>
