<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                <div class="info">
                    <h2 class="title">Other Sites</h2>
                    <nav>
                        <ul>
                            {% for item in site.data.settings.other_sites %}
                            <li><a href="{{ item.url }}" target="{{ item.target }}">{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                <div class="info">
                    <h2 class="title">Notices</h2>
                    <nav>
                        <ul>
                            {% for item in site.data.settings.notices %}
                            <li><a href="{{ item.url }}" target="{{ item.target }}">{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12">
                <div class="info">
                    <h2 class="title">Follow me on</h2>
                    <nav>
                        <div class="row">
                            <ul class="social-media-menu">
                                {% for item in site.data.settings.social_media %}
                                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                                    <a href="{{ item.url }}">
                                        <i class="fa-brands fa-{{ item.icon }} fa-fw"></i>&nbsp;&nbsp;{{ item.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                <div class="basu-howard-banner">
                    <div class="basu-howard-flag" >
                        <a href="https://basuhoward.org">
                            {% svg '/assets/img/identity/bh-flag-1x1.svg' alt="Banner of the House of Basu-Howard" %}
                        </a>
                    </div>
                    <div class="info ml-4 mt-0 basu-howard-text">jameshoward.us<br/>A website of the House of Basu-Howard</div>
                </div>
            </div>
            <div class="info col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12">
                <div class="jh-copyright"><br/>Copyright &copy; 1997-{{ 'now' | date: "%Y" }} James P. Howard, II</div>
            </div>
        </div>
</footer>
