<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/img/identity/favicon.svg' | relative_url }}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ page.title }} | James Howard</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link href="{{ '/assets/css/bootstrap.css' | relative_url }}" rel="stylesheet" />
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <link href="{{ '/assets/css/gaia.css' | relative_url }}" rel="stylesheet"/>
    <link href="{{ '/assets/css/jameshoward.css' | relative_url }}" rel="stylesheet" />
    <link href="{{ '/assets/css/ribbonrack.css' | relative_url }}" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href='https://fonts.googleapis.com/css?family=Cambo|Lato:400,700' rel='stylesheet' type='text/css'>
    <link href="{{ '/assets/css/fonts/pe-icon-7-stroke.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/cookiealert.css' | relative_url }}" rel="stylesheet" />
</head>
