<head>
    <meta charset="utf-8" />

    {% assign canonical_url = page.url | absolute_url %}
    {% if page.layout == "redirect" %}
    {% assign canonical_url = page.redirect.to | absolute_url %}
    <script>location="{{ page.redirect.to }}"</script>
    <meta http-equiv="refresh" content="5; url={{ page.redirect.to }}" />
    <meta name="robots" content="noindex" />
    {% endif %}
    <link rel="canonical" href="{{ canonical_url | escape }}" />

    <link rel="icon" type="image/svg+xml" sizes="96x96" href="{{ '/assets/img/identity/favicon.svg' | relative_url }}">

    {% assign title = page.title %}
    {% if page.tag %}
      {% assign title = title | append: " " | append: page.tag %}
    {% endif %}

    {% assign title_formatted = title | markdownify | strip_html %}
    {% assign title_clean = title_formatted | append: " – " | append: site.title %}

    {% assign featured_image = "/assets/img/header-home.webp" %}
    {% if page.featured_image %}
      {% assign featured_image = page.featured_image %}
    {% endif %}
    {% assign social_image_url = featured_image | absolute_url %}

    {% assign og_type = "website" %}
    {% if page.layout == "post" or page.collection == "posts" %}
      {% assign og_type = "article" %}
    {% endif %}

    {% assign desc = page.content | markdownify | strip_html | truncatewords: 30 %}
    {% if page.subtitle %}
        {% assign desc = page.subtitle | markdownify | strip_html %}
    {% endif %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ title_clean | escape }}</title>

    <meta name="title" content="{{ title | escape }}" />
    <meta name="author" content="{{ site.author.name | escape }}" />
    <meta name="description" content="{{ desc | escape }}" />

    <meta property="og:title" content="{{ title | escape }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content="{{ desc | escape }}" />
    <meta property="og:url" content="{{ canonical_url | escape }}" />
    <meta property="og:site_name" content="James Howard" />
    <meta property="og:image" content="{{ social_image_url | escape }}" />
    <meta property="og:type" content="{{ og_type }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="{{ social_image_url | escape }}" />
    <meta property="twitter:title" content="{{ title | escape }}" />
    <meta name="twitter:site" content="@k3jph" />
    <meta name="twitter:creator" content="@k3jph" />

    <meta name="fediverse:creator" content="@k3jph@mastodon.social">

    {% if page.profile_page %}
    {% include profile_page_jsonld.html %}
    {% endif %}

    {% if page.sitemap == false %}
    <meta name="robots" content="noindex" />
    {% endif %}

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=10.0, user-scalable=1' name='viewport' />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <link href="{{ '/assets/css/gaia.css' | relative_url }}" rel="stylesheet"/>
    <link href="{{ '/assets/css/jameshoward.css' | relative_url }}" rel="stylesheet" />
    <link href="{{ '/assets/css/gdpr-cookie.css' | relative_url }}" rel="stylesheet" />
    <link href="{{ '/assets/css/ribbonrack.css' | relative_url }}" rel="stylesheet" />
    {% if page.stylesheet %}
    <link href="{{ page.stylesheet | relative_url }}" rel="stylesheet" />
    {% endif %}

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="{{ '/assets/fontawesome/css/all.min.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Cambo%7CLato:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700;800&family=Spectral:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{ '/assets/css/fonts/pe-icon-7-stroke.css' | relative_url }}" rel="stylesheet">

    {% if page.head_inject %}
       {{ page.head_inject }}
    {% endif %}
</head>
