<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
    <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
    <div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a href="{{ site.url | relative_url }}" class="navbar-brand">
                <img src="{{ '/assets/img/identity/jameshoward-logo-horizontal.svg' | relative_url }}" alt="Primary menu logo" />
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right navbar-uppercase">
                {% for item in site.data.settings.main_menu_settings.menu_items %}
                {% unless item.submenu_items %}
                <li>
                    <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
                </li>
                {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.title }}<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-danger">
                        {% for subitem in item.submenu_items %}
                        <li>
                            <a href="{{ subitem.url | relative_url }}">{{ subitem.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endunless %}
                {% endfor %}
                </li>
                <li class="dropdown">
                    <form action="/search" method="get">
                        <div class="form-group">
                            <input type="search" name="q" placeholder="SEARCH..." class="form-control form-control-plain search-box" />
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
{% include cookiewarning.html %}
