.badgerack {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.ribbonrack {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.ribbonbar {
  display: flex;
  clear: both;
  margin: auto 0;
  position: relative;
  padding: 0px;
}

.ribbon {
  width: 33.33%;
  width: calc(100% / 3);
  padding: 0.5px;
  margin: 0px;
}

.ribbon img {
  margin: 0px;
  border-radius: 1px;
  width: 100%;
}

.ribbon-left {
  margin-left: auto;
}

.ribbon-center {
  margin-left: auto;
  margin-right: auto;
}

.ribbon-right {
  margin-right: auto;
}

