@use "../jameshoward";
@use "mixins/buttons";
@use "mixins/transparency";
@use "mixins/vendor-prefixes";

.btn,
.navbar .navbar-nav > li > a.btn{
    border-width: jameshoward.$border-thin;
    background-color: jameshoward.$transparent-bg;
    font-weight: jameshoward.$font-weight-bold;
    border-radius: jameshoward.$border-radius-small;
    font-size: jameshoward.$font-size-small;
    line-height: 1.6em;
    @include transparency.opacity(.8);
    padding: jameshoward.$padding-base-vertical jameshoward.$padding-base-horizontal;
    @include buttons.btn-styles(jameshoward.$default-color, jameshoward.$default-states-color);
    text-transform: uppercase;

    &:hover,
    &:focus{
        @include transparency.opacity(1);
        outline: 0 !important;
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
         @include vendor-prefixes.box-shadow(none);
         outline: 0 !important;
    }

    &.btn-icon{
        padding: jameshoward.$padding-base-vertical;
    }

}

// Apply the mixin to the buttons
.btn-primary,
.navbar .navbar-nav > li > a.btn-primary {
    @include buttons.btn-styles(jameshoward.$gold-color, jameshoward.$gold-states-color);
}
.btn-success,
.navbar .navbar-nav > li > a.btn-success{
    @include buttons.btn-styles(jameshoward.$success-color, jameshoward.$success-states-color);
}
.btn-info,
.navbar .navbar-nav > li > a.btn-info{
    @include buttons.btn-styles(jameshoward.$info-color, jameshoward.$info-states-color);
}
.btn-warning,
.navbar .navbar-nav > li > a.btn-warning{
    @include buttons.btn-styles(jameshoward.$warning-color, jameshoward.$warning-states-color);
}
.btn-danger,
.navbar .navbar-nav > li > a.btn-danger{
    @include buttons.btn-styles(jameshoward.$danger-color, jameshoward.$danger-states-color);
}
.btn-black,
.navbar .navbar-nav > li > a.btn-black{
    @include buttons.btn-styles(jameshoward.$black-color, jameshoward.$black-states-color);
}
.btn-white,
.navbar .navbar-nav > li > a.btn-white{
    @include buttons.btn-styles(jameshoward.$white-color, jameshoward.$white-color);
    opacity: .9;

    &:active,
    &.active,
    .open > &.dropdown-toggle{
         background-color: jameshoward.$white-color;
         color: jameshoward.$default-color;
    }

    &.btn-fill{
        color: jameshoward.$default-color;
        opacity: .9;

        &:hover,
        &:focus{
            color: jameshoward.$default-color;
            opacity: 1;
        }
    }

    &.btn-simple:active,
    &.btn-simple.active{
        background-color: transparent;
    }
}
.btn{
     &:disabled,
     &[disabled],
     &.disabled{
        @include transparency.opacity(.5);
    }
}
.btn-round{
    border-width: jameshoward.$border-thin;
    border-radius: jameshoward.$btn-round-radius !important;
    padding: jameshoward.$padding-round-vertical jameshoward.$padding-round-horizontal;

    &.btn-icon{
        padding: jameshoward.$padding-round-vertical;
    }
}
.btn-simple{
    border: jameshoward.$none;
    font-size: jameshoward.$font-size-base;
    padding: jameshoward.$padding-base-vertical jameshoward.$padding-base-horizontal;

    &.btn-icon{
        padding: jameshoward.$padding-base-vertical;
    }
}
.btn-lg{
   @include buttons.btn-size(jameshoward.$padding-large-vertical, jameshoward.$padding-large-horizontal, jameshoward.$font-size-base, jameshoward.$border-radius-base);
}
.btn-sm{
    @include buttons.btn-size(jameshoward.$padding-small-vertical, jameshoward.$padding-small-horizontal, jameshoward.$font-size-small, jameshoward.$border-radius-small);
}
.btn-xs {
    @include buttons.btn-size(jameshoward.$padding-small-vertical, jameshoward.$padding-small-horizontal, jameshoward.$font-size-small - 2, jameshoward.$border-radius-small);
}
.btn-wd {
    min-width: 140px;
}
