@use "../jameshoward";

.label-primary{
   background-color: jameshoward.$primary-color;
}
.label-info{
   background-color: jameshoward.$info-color;
}
.label-success{
   background-color: jameshoward.$success-color;
}
.label-warning{
   background-color: jameshoward.$warning-color;
}
.label-danger{
   background-color: jameshoward.$danger-color;
}
