---
layout: base
---

{% assign title = page.title %}
{% if page.tag %}
  {% assign title = title | append: " " | append: page.tag %}
{% endif %}

{% assign subtitle = page.subtitle %}

<div class="section section-header-blog">
    <div class="parallax filter filter-color-black">
        {% if page.featured_image %}
            {% picture header {{ page.featured_image | remove_first: '/assets/img/' }} class="featured-bg" %}
        {% else %}
           {% picture header header-home.webp class="featured-bg" %}
        {% endif %}
        <div class="container">
            <div class="content">
                <h1>{{ title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
                <div class="separator separator"><img src="{{ '/assets/img/identity/kamon.svg' | relative_url }}" height="35rem" /></div>
                <span class="card-category section-subtitle">{{ subtitle | markdownify }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-first">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-blog">
                    {{ content }}
                </div>
                {% if page.credits %}
                <div class="separator separator-info"><img src="{{ '/assets/img/identity/kamon-info.svg' | relative_url }}" height="35rem" /></div>
                <div class="">{{ page.credits | markdownify }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
