---
layout: base
---

{% assign title = page.title %}
{% if page.tag %}
  {% assign title = title | append: " " | append: page.tag %}
{% endif %}

{% assign subtitle = page.subtitle %}

<div class="section section-header-blog">
    <div class="parallax filter filter-color-black">
        {% if page.featured_image %}
            {% include cloudflare_image.html image=page.featured_image preset="header" class="featured-bg" alt=title %}
        {% else %}
           {% include cloudflare_image.html image="header-home.webp" preset="header" class="featured-bg" alt="" %}
        {% endif %}
        <div class="container">
            <div class="content">
                <h1>{{ title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
                <div class="separator separator"><img src="{{ '/assets/img/identity/kamon.svg' | relative_url }}" height="35" alt="" /></div>
                <div class="card-category section-subtitle">{{ subtitle | markdownify }}</div>
            </div>
        </div>
    </div>
</div>

<div class="section section-first article-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-blog">
                    {{ content }}
                </div>
                {% if page.credits %}
                <div class="separator separator-info"><img src="{{ '/assets/img/identity/kamon-info.svg' | relative_url }}" height="35" alt="" /></div>
                <div class="">{{ page.credits | markdownify }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
