---
layout: base
---

{% assign title = page.title %}
{% if page.tag %}
  {% assign title = title | append: " " | append: page.tag %}
{% endif %}

<div class="section section-header-blog">
    <div class="parallax filter filter-color-black">
        {% if page.featured_image %}
        <div class="image" style="background-image:url({{ page.featured_image | relative_url }})"></div>
        {% else %}
        <div class="image" style="background-image:url({{ '/assets/img/header-home.jpg' | relative_url }})"></div>
        {% endif %}
        <div class="container">
            <div class="content">
                <h1>{{ title }}</h1>
                <div class="separator separator"><img src="{{ '/assets/img/martlet.svg' | relative_url }}" height="35rem" /></div>
            </div>
        </div>
    </div>
</div>

<div class="section section-first">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-blog">
                    {{ content }}
                </div>
                {% if page.credits %}
                <div class="separator separator-danger"><img src="{{ '/assets/img/martlet-danger.svg' | relative_url }}" height="35rem" /></div>
                <div class="">{{ page.credits | markdownify }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
